<footer>
    <div class="final">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="iconsFooter">
                      <i class="fa-solid fa-hand-holding-hand"></i>
                    </div>
                    <p class="titular">AYUDA</p>
                    <p class="cuerpo">Contáctanos</p>
                    <p class="cuerpo">Sobre nosotros</p>
                    <p class="cuerpo">Términos y condiciones</p>
                </div>
                <div class="col-sm-4">
                    <div class="iconsFooter">
                      <i class="fa-solid fa-user-shield fa-2x1"></i>
                    </div>
                    <p class="titular">SEGURIDAD</p>
                    <p class="cuerpo">Compras 100% protegidas de principio a fin.</p>
                    <p class="cuerpo">Retornos gratis hasta 30 dias despues de la compra.</p>
                    <p class="cuerpo">Retornos gratis hasta 30 dias despues de la compra.</p>
                </div>
                <div class="col-sm-4">
                    <div class="iconsFooter">
                      <i class="fa-solid fa-address-card"></i>
                    </div>
                    <p class="titular">CONTACTO</p>
                    <p class="cuerpo">+57 300 6585 988</p>
                    <p class="cuerpo">info@ACproductos.co</p>
                    <p class="cuerpo">Medellin, Colombia</p>
                </div>
            </div>
            <p class="copyright">Copyright © 2022 AC Productos de Belleza.</p>
        </div>
    </div>  
</footer>