<!DOCTYPE html>
<html lang="en">

<head>
  <title>Carrito de compras</title>
  <link rel="stylesheet" href="/css/carritoCompra.css"></link>
  <%-include("../partials/head")%>
</head>

<body class="body">
  <%-include("../partials/header")%>
    <main>
        <div class="contenedor">
            <div class="encabezado">
              <h2>Resumen del carrito</h2>
            </div>
            <div class="informacion-compra">
                  <div class="contenedor-item">
                      <h5>Producto</h5>
                  </div>
                  <div class="contenedor-item">
                      <h5>Precio</h5>
                  </div>
                  <div class="contenedor-item">
                      <h5>Cantidad</h5>
                  </div>
                  <div class="contenedor-item">
                      <h5>Total</h5>
                  </div>
            </div>
            <div class="productos">
            </div>
            <div class = "total">
              <h5>Total</h5>
            </div>
            <div class = "boton">
              <a href="/carritoProducto"> <button class="boton" id="LimpiarCarrito">  Limpiar carrito  </button> </a>
              <button class="boton" id="FinalizarCompra"> Finalizar compra</button>
            </div>
            
          </div>
  </main>
  <script src="/js/mostrarCarrito.js"></script>
  <%-include("../partials/footer")%> 
</body>
</html>