<!DOCTYPE html>
<html lang="es">
<meta charset="utf-8">
<meta http-equiv="X-AU-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link href="log.css" rel="stylesheet">
    <title>Registro</title>
</head>
<body bgcolor="#fcc9a5">
       
    
        <div0>
            <form>
               <h0>INSCRIBIRSE</h0>
                <label0 for="name"></label0>
                <input type="nombre" placeholder="NOMBRE">
                <label for="surname"></label>
                <input type="apellido" placeholder="APELLIDO">
                <label for="email"></label><br>
                <input type="escribir email" placeholder="ESCRIBE TU EMAIL">
                <label for="password"></label><br>
                <input type=" crea contraseña" placeholder="crea contraseña:"><br>
                
                <div id="lower">
                    <input type="checkbox"><label class="check" for="checkbox">Al hacer clic aquí, acepto los Términos de uso y la Política de privacidad.</label><br>
                    <input type="checkbox"><label class="check" for="checkbox">Regístrese para recibir actualizaciones por correo electrónico sobre productos, información sobre el cuidado de la piel, tutoriales y eventos. Darse de baja en cualquier momento.</label><br>
                    <!-- Submit Button -->
                    <input class="boton" type="submit" value="CREAR" >
                    <p><a href="#">volver al Inicio</a>
                </div>
            </form>       
        </div0>
        <div1><img src="belleza.png" alt="belleza" width="510px" ></div1>
    </body>
</html>
        