<!DOCTYPE html>
<html lang="es">
<meta charset="utf-8">
<meta http-equiv="X-AU-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
    <link href="css.css" rel="stylesheet">
    
    <nav>
        <ul>
            <div0><img bgcolor="#fafcf8"src="logo.png" width="100px" height="100px" ></div0>
            <span0><a href="#1">Inicio</a></span0>
            <span1><a href="#2">Labios</a></span1>
            <span2> <a href="#3">Ojos</a></span2>
            <span3><a href="#4">Rostro</a></span3>
            <span4><a href="#5">Skincare</a></span4>
            <span5><a href="#6">Bodycare</a></span5>
            <span6><a href="#7">Colecciones</a></span6>
            <span7><a href="#8">Sobre Nosotros </a></span7>
           </ul>
    </nav>

</head>
<main>
<body bgcolor="#fcc9a5" class="contiener" id="contenedor">
   
        <title>Labial Matte Intransferible UPA</title>
    <div2>
        <h1 class="Nproduc">Labial Matte Intransferible UPA</h1>
        <p-1>cod.107325- labial matte instrasferible-8ml</p-1><br>
</div2>
<div-1>
        <span> valoracion<form action="../../valoracion.php" target="_top">
                 <input type="number" min="0" max="5">
            
            </form></span> 
</div-1>         
 <section>          
<div3>

            <h2 >Une el efecto intransferible, a labios hidratados todo el día</h2>
            <p2>Labial super mate que no transfiere, no mancha, no se corre y aún hidrata los labios. Con alta cobertura
                que dura hasta 12 horas y textura mousse que hidrata a lo largo del día.
                La exclusiva tecnología de partículas Una garantiza larga duración, ultra pigmentación y alta fijación.
            </p2>
</div3>
<div4 class="texbox">
            <h3 id="Bene">Beneficios</h3>
            <p3>
                <li>Alta fijación de larga duración;</li>
                <li>Hidratación inmediata;</li>
                <li>Ayuda en la prevención de las señales de envejecimiento de los labios, con ceramidas de maracuyá,
                    activo de la biodiversidad brasileña, el Labial Matte Intransferible restaura los labios y
                    proporciona hidratación inmediata y por 24 horas.</li>
            </p3>
</div4>   
  </section> 
<didivv5 class="imagen"><p><img src="Labial.jpg" aling="center"width=400px; heigth=1000px> </img1></p>
</div5>
<section2 class="texbox2">
<div6>
        <h7>informacion importante</h7><br>
    
            <ul-2 >
                <li>duración</li>
                <li>efecto mate</li>
                <li>contenido activo de la biodiversidad brasileña</li>
                <li>producto vegano</li>
            </ul-2>
        <h-8>$1524.00</h-8>
</div6>
</section2>
<section3 class="compras">
<div7  ><form action="../../form-result.php" >

        <p>
      
          color:
      
          <select name="color">
      
            <option>violeta</option>
            <option>nude</option>
            <option>rose</option>
            <option>rojo</option>
            <option>perla</option>
            <option>coral</option>
      
          </select>
      cantidad
        <input type="number" name="cantidad" min="1">
        </p>
      
        <p ><input class="boton"type="submit" value="comprar"></p>
      
      </form>
    </section3>
</div7>
<div8>
      <form action="../../cantidad.php" target="_blank">
        
</div8>
      
</body>
</main>

</html>