.body{
    background-color: #FCC9A5; 

}
.header{
    color:white;
    background-color: dark;
    margin-bottom: 5px;
}


#resumenCarrito{
    text-align:center;
    border-top: 1px;
    border-top-style:solid;
    border-top-color:black;
    border-bottom: 1px;
    border-bottom-style:solid;
    border-bottom-color:#ebebeb;
    border-color:black;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
}
#cupon{

    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;

}
#totalCarrito{
    background-color: #F1A080; 
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 20px;

}
