main{
    background-color:white; 
    margin: 0% 10% 0% 10%;
}

.encabezado h3{
    font-weight: 600;
    font-size: 34px; 
}
.imagenCarro{
    width: 50px;
    height: 50px
}
.contenedor{
    display: flex;
    align-items: center;
    display: grid;
    grid-template-rows: 10% 10% 60% 10% 10%;
    background-color:#FA8072;
    border-radius: 8px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25) !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 50px;
    height: auto !important;
}

.informacion-compra{
    display: flex;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
}
.productos-item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px;
}

.total{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    display: grid;
    padding: 5px;
    padding-right: 20px;
    grid-template-columns: 70% 30%;

}
.boton{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: white;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    width: 300px;
    height: 40px;
}
.boton:hover{
    background-color: black;
    color: white;
}