
  
 

    

.container-fluid{
   color: #fcc9a5 !important;
   background-color: black !important;
  
  }
  
body{

   box-sizing: border-box;
   margin-top: 0%;
   margin:0;
   padding:0;
}

.selector-for-some-widget {
   box-sizing: border-box;
 }

  
  #navbarNav{
   background-color: black;
  }
  
  ul.navbar-nav{
   background-color: black;

  }
  li.nav-item{
   background-color: black;
  }
  a.nav-link {
   color: #fcc9a5; 
   font-family:'Big Shoulders Display';
   font-size: 40px;
  }  

  img#logo{
   width: 150px;
   height: 150px;
   display:flex;
   justify-content: flex-start;
   position: relative;
}


#grila{
   display:grid;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 2fr;
   background-color: #fcc9a5;
   grid-template-areas: 
   "section img seccion";
}




 

h1{
margin-left: 0%;
}

h2{
   text-align: left;
}
p{
   
   margin-left: 0%;
}


section{
   background-color: white;
   display: grid;
   padding: 3%;
   margin-right: 70%;
   border-radius: 10%;
   margin-top: -8%;
   border-color: black;
   border-width: 3px;
   border-style: solid;
   border-radius:35px;
   grid-area: section;
  
}

img{
   display: grid;
   grid-area: img;
}

#uno{
   display: block;
   
   margin-left: 0%;

}

section#texbox2{
   display: grid;
   
   margin-left: 40%;
   margin-top: -30%;
   grid-area: seccion;
}

.boton{
   text-decoration:none;
   font-weight: 600;
   font-size: 20px;
   color:#333333;
   padding-top:5px;
   padding-bottom:5px;
   padding-left:10px;
   padding-right:10px;
   background-color:orange;
   border-color:blackblack;
   border-width: 3px;
   border-style: solid;
   border-radius:35px;
}


