
svg{
    width: 1em;
    display: grid;
    grid-area: svg;
    margin-top: 20px;
}
h1{
    margin-top: 300px;
    font-family: 'Playfair Display', serif;
    font-size: 200px;
}



h2{
    
    font-family: 'Josefin Sans', sans-serif;
    color:black;
    display: grid;
    grid-area: h2;
}
p{
    font-size: 20px;
    display: grid;
    grid-area: parrafo;
    font-family: 'Josefin Sans';
    color:black;
}


.grilla{
    display: grid;
    grid-template-columns: 0.1fr 0.9fr;
    grid-template-rows: 0.25fr;
    grid-template-areas: 
    "svg h2";
}


img{
    display: grid;
    justify-self: center;
}

main{
    background-color: #FCC9A5; 
    height: 600px;

}



























