footer{
    text-align:center;
    color: white;
    background-color:black;
    padding-top: 2px;
    padding-right: 15px;
    padding-bottom: 2px;
    padding-left: 15px;
    font-family: Roboto;
}
.iconsFooter{
    color: #ff6852;
    margin-bottom: 5px;
    margin-top: 5px;
}
.copyright{
    text-align:left;
    font-size:12px;
    font-family: Roboto;
}