.header{
    color:white;
    background-color: dark;
    margin-bottom: 5px;
}
.body{
    background-color: #FCC9A5; 
}
.product-box{
    background-color:white;
}
.product-box_data{
    background-color:white;
    font-size:16px;
    color: #666;
    border-top: 5px;
    border-top-style:solid;
    border-top-color:#ebebeb;
    border-bottom: 15px;
    border-bottom-style:solid;
    border-bottom-color: #FCC9A5;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}