main{
    background-color:white; 
    margin: 0% 10% 0% 10%;
}
.encabezado h3{
    font-weight: 600;
    font-size: 34px;  
}
.container{
    justify-content: center;
    align-items: center;
    background-color:#FA8072 ;
    border-radius: 8px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25) !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 80px;
}

.product-box{
    background-color:white;
    border-radius: 8px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25) !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.product-box_data{
    background-color:white;
    border-radius: 8px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25) !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-size:16px;
    color: black;
    border-top: 5px;
    border-top-style:solid;
    border-top-color:#ebebeb;
    border-bottom: 15px;
    border-bottom-style:solid;
    border-bottom-color: #FCC9A5;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    padding-left: 10px;
}