main{
    background-color:white; 
    margin: 0% 10% 0% 10%;
}
.encabezado h3{
    font-weight: 400;
    font-size: 34px;    
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#FA8072;
    border-radius: 8px;
    display: grid;
    grid-template-rows: 25% 25% 25% 25% ;
    height: 22em;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25) !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    font-family: Roboto;
}

.form-input{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 400px;
    height: 40px;
    cursor: pointer;
}

.boton{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: white;
    font-weight: 600;
    font-size: 25px;
    cursor: pointer;
    width: 400px;
    height: 40px;
}
.boton:hover{
    background-color: black;
    color: white;
}