main{
    background-color:white; 
    margin: 0% 10% 0% 10%;
}
.container{
    background-color:#FA8072 ;
    border-radius: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 10px;
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.25) !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    font-family: Roboto;
}

.boton{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    background-color: white;
    font-weight: 600;
    font-family: 'Inter';
    font-size: 25px;
    cursor: pointer;
    width: 400px;
    height: 40px;
    font-family: Roboto;
}
.boton:hover{
    background-color: black;
    color: white;
}
