<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-AU-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="/css/css.css" rel="stylesheet">

    
    
    

</head>
<main>
    <body class="contiener" id="contenedor">
   
        <title>Labial Matte Intransferible UPA</title>
        <div class="uno">
            <h1 class="Nproduc">Labial Matte Intransferible UPA</h1>
            <p>cod.107325- labial matte instrasferible-8ml</p><br>
        </div>
        <div class="uno">
        <span> valoracion<form action="../../valoracion.php" target="_top">
                 <input type="number" min="0" max="5">
            
            </form></span> 
        </div>         
        <section>          
            <div class="uno">

                <h2>Une el efecto intransferible, a labios hidratados todo el día</h2>
                <p>Labial super mate que no transfiere, no mancha, no se corre y aún hidrata los labios. Con alta cobertura
                que dura hasta 12 horas y textura mousse que hidrata a lo largo del día.
                La exclusiva tecnología de partículas Una garantiza larga duración, ultra pigmentación y alta fijación.
                </p>
            </div>
            <div class="uno">
                <h3>Beneficios</h3>
                    <li>Alta fijación de larga duración;</li>
                    <li>Hidratación inmediata;</li>
                    <li>Ayuda en la prevención de las señales de envejecimiento de los labios, con ceramidas de maracuyá,
                    activo de la biodiversidad brasileña, el Labial Matte Intransferible restaura los labios y
                    proporciona hidratación inmediata y por 24 horas.</li>

            </div>   
        </section> 
        <img src="Labial.jpg" aling="center"width=400px; heigth=1000px> 

        <section id="texbox2">

        <h2>informacion importante</h2><br>
    
            <ul>
                <li>duración</li>
                <li>efecto mate</li>
                <li>contenido activo de la biodiversidad brasileña</li>
                <li>producto vegano</li>
            </ul>
        <h2>$1524.00</h2>

        </section>
        <section>
            <form action="../../form-result.php" >

      
                color:
      
            <select name="color">
      
            <option>violeta</option>
            <option>nude</option>
            <option>rose</option>
            <option>rojo</option>
            <option>perla</option>
            <option>coral</option>
      
            </select>
            cantidad
            <input type="number" name="cantidad" min="1">

      
            <p><input class="boton"type="submit" value="comprar"></p>
      
            </form>
        </section>


      <form action="../../cantidad.php" target="_blank">

</main>      
</body>


</html>