<footer class="footer">
    <div class="final">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-4">
                    <div class="iconsFooter">
                        <i class="fa-solid fa-hand-holding-hand fa-2xl"></i>
                    </div>
                    <p><b>AYUDA</b></p>
                    <p><a>Contáctanos</a></p>
                    <p><a>Sobre nosotros</a></p>
                    <p><a>Términos y condiciones</a></p>
                </div>
                <div class="col-sm-4">
                    <div class="iconsFooter">
                        <i class="fa-solid fa-user-shield fa-2xl"></i>
                    </div>
                    <p><b>SEGURIDAD</b></p>
                    <p>Compras 100% protegidas de principio a fin.</p>
                    <p>Retornos gratis hasta 30 dias despues de la compra.</p>
                    <p>Retornos gratis hasta 30 dias despues de la compra.</p>
                </div>
                <div class="col-sm-4">
                    <div class="iconsFooter">
                        <i class="fa-solid fa-address-card fa-2xl"></i>
                    </div>
                    <p><b>CONTACTO</b></p>
                    <p>+57 300 6585 988</p>
                    <p>info@ACproductos.co</p>
                    <p>Medellin, Colombia</p>
                </div>
            </div>
            <p class="copyright">Copyright © 2022 AC Productos de Belleza.</p>
        </div>
    </div>  
</footer>