<!DOCTYPE html>
<html lang="en">
<head>
    <title>Perfil de usuario</title>
    <%-include("../partials/head")%>
</head>
<body>
    <%-include("../partials/header")%>
    <h1>Aqui va ha ser el perfil de usuario</h1>
    <%-include("../partials/footer")%>
</body>
</html>