<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Registro</title>
    <link rel="stylesheet" href="/css/login.css"></link>
    <%-include("../partials/head")%>
  </head>

  
  <body class="body">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <%-include("../partials/header")%>
    <main>
      <div class="container">
        <div class="row">
          <div class="col">
            <h3 class="products-title">Acceder</h3>
            <div class = "box-form-user">
              <form action="/" method="POST" enctype="multipart/form-data">
                <!-- Email input -->
                <div class="form-outline mb-6" id="datos_usuario">
                  <label for="email" class="form-label" >Correo Electrónico:</label><br>
                  <input type="email" id="email" name="email" class="form-input" placeholder="Ingrese un correo electrónico valido" />
                </div>
                <!-- Password input -->
                <div class="form-outline mb-6" id="datos_usuario">
                  <label for="contrasena" class="form-label" >Contraseña</label><br>
                  <input type="password" id="contrasena" name="contrasena" class="form-input" placeholder="Contraseña" />
                </div>
                <div class="text-center text-lg-start mt-4 pt-2">
                  <button type="submit" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Ingresar</button>
                </div>
                <div>
                  <a href="#!" class="text-body"><u>¿Olvidaste tu contraseña?</u></a>
                </div>
              </form>
            </div>
          </div>
        <div class="row">
          <p><a href="/" class="link-danger"> Volver al inicio</a></p>
        </div>
      </div>
    </main>   
    <%-include("../partials/footer")%>  
  </body>
</html>
      