<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Registro</title>
    <link rel="stylesheet" href="/css/login.css"></link>
    <%-include("../partials/head")%>
    <%-include("../partials/header")%>
  </head>
  <body class="body">
    <main>
      <div class="contenedor">
        <div class="row">
          <div class="col">
              <div class = "box-form-user">
                <form action="/user/login" method="POST" id="formulario">
                  <div class="container">
                    <div class="encabezado">
                      <h3>Acceder</h3>
                    </div>
                  <!-- Email input -->
                    <div class="form-outline mb-6" id="datos_usuarioCreado">
                      <label for="email" class="form-label" ><b>Correo Electrónico :</b></label><br>
                      <input required type="email" id="email" name="email" class="form-input" placeholder="Ingrese un correo electrónico valido" />
                    </div>
                  <!-- Password input -->
                    <div class="form-outline mb-6" id="datos_usuarioCreado">
                      <label for="contrasena" class="form-label"><b>Contraseña: </b></label><br>
                      <input required type="password" id="contrasena" name="contrasena" class="form-input" placeholder="Contraseña" pattern="(?=^.{8,}$)(?=.*\d)(?=.*\W+)(?![.\n])(?=.*[A-Z])(?=.*[a-z]).*$" title="La contraseña debe ser de al menos 8 caracteres y tener letras mayúsculas, minúsculas, un número y un carácter especial." />
                    </div>
                    <div class="text-center text-lg-start mt-4 pt-2">
                      <button onclick="miFunc()" type="submit" id="boton" class="boton" style="padding-left: 2.5rem; padding-right: 2.5rem;">Ingresar</button>
                      <p><a href="/" class="link-dark"> Volver al inicio</a></p>
                    </div>
                  </div>
                </form>
              </div>
          </div>
      </div>
    </main>  
    <script src="/js/formulariologin.js"></script>
    <%-include("../partials/footer")%>  
  </body>
</html>
      